.custom_table {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.headers,
.tbody {
  display: flex;
  justify-content: center;
  border: 1px solid seagreen;
}

.table__wrapper {
  display: flex;
  justify-content: space-between;
}

.first_column,
.second_column,
.third_column {
  width: 300px;
}

.first_column,
.second_column {
  border-right: 1px solid seagreen;
}
